<p id="notice"><%= notice %></p>

<h1>Recognitions</h1>

<table>
  <thead>
    <tr>
      <th>Recognizee</th>
      <th>Library value</th>
      <th>Description</th>
      <th>Anonymous</th>
      <th>Recognizer</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @recognitions.each do |recognition| %>
      <tr>
        <td><%= recognition.recognizee %></td>
        <td><%= recognition.library_value %></td>
        <td><%= recognition.description %></td>
        <td><%= recognition.anonymous %></td>
        <td><%= recognition.recognizer %></td>
        <td><%= link_to 'Show', recognition %></td>
        <td><%= link_to 'Edit', edit_recognition_path(recognition) %></td>
        <td><%= link_to 'Destroy', recognition, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Recognition', new_recognition_path %>
