<p>
  <strong>Recognizee:</strong>
  <%= @recognition.employee.display_name %>
</p>

<p>
  <strong>Library value:</strong>
  <%= LIBRARY_VALUES[@recognition.library_value] %>
</p>

<p>
  <strong>Description:</strong>
  <%= @recognition.description %>
</p>

<p>
  <strong>Anonymous:</strong>
  <%= @recognition.anonymous %>
</p>

<p>
  <strong>Recognizer:</strong>
  <%= @recognition.user.full_name %>
</p>

<%= link_to 'Edit', edit_recognition_path(@recognition) %> |
<%= link_to 'Back', recognitions_path %>
